.window {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #999;
    border-radius: 4px;
    min-height: 70px !important;
    min-width: 40px !important;
}

.header {
    height: 40px;
    background-color: #555;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header:hover {
    cursor: move;
}

.content {
    position: relative;
    height: calc(100% - 40px);
}


.drag-right {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    height: 100%;
    width: 2px;
    opacity: 0;
    transform: translateX(-1px);
    background-color: #666;
    z-index: 2;
}

.drag-right:hover {
    cursor: ew-resize;
}

.drag-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    transform: translateY(-1px);
    background-color: #666;
    z-index: 2;
}

.drag-bottom:hover {
    cursor: ns-resize;
}

.drag-se {
    position: absolute;
    top: 100%;
    left: 100%;
    height: 3px;
    width: 3px;
    opacity: 0;
    transform: translate3d(-2px, -2px, 0);
    background-color: #666;
    z-index: 3;
}

.drag-se:hover {
    cursor: nwse-resize;
}
